{% extends "layout.html" %}
{% block body_content %}
<section>
   <form action="" method="POST">
      <p><label for="first_name">First Name: </label></p>
      <p><input type="text" id="first_name" name="first_name" required/></p>

      <p><label for="last_name">Last Name: </label></p>
      <p><input type="text" id="last_name" name="last_name" required/></p>

      <p><label for="favourite_flower">Favorite Flower: </label></p>
      <p><input type="text" id="favourite_flower" name="favourite_flower" required/></p>

      <p><input type="submit" value="Submit" /></p>
   </form>
</section>
{% endblock %}

